

:root {
    --cor-principal: #8B3E2C;
    --cor-secundaria: #29261D;
    --cor-fundo: #E6E3DE;
    --cor-fundo2: #FFF6C8;

    --fonte-principal: "Montserrat", sans-serif;;
    --fonte-destaque:"Cinzel", serif;

    --tamanho-titulo: 2rem;
    --tamanho-paragrafremo: 1rem;

    --peso-titulo: 400;
}